@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Poppins", sans-serif;
    background-color: white !important;
    box-sizing: border-box;
}
main{
    background-color: white;
}

/* ============================Header================================= */
.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white ;
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    border-bottom: 1px solid rgba(134, 134, 134, 0.425);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.logo img{
    width: 10rem;
    margin-top: 1rem;
}
.navigation{
    border-bottom: 1px solid rgba(134, 134, 134, 0.425);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.navigation ul{
    list-style: none;
}

.header .navigation ul li{
    float: left;
    position: relative;
}

.header .navigation ul li a{
    font-size: 18px;
    color: gray !important;
    text-decoration: none;
    padding: 20px;
    display: block ;
    transition: all .2s ease;
}
.header .navigation ul li a:hover{
    background-color: whitesmoke;
}
.header .navigation ul li ul{
    position: absolute;
    right: 0;
    width: 300px;
    background-color: white;
    display: none;
}
.header .navigation ul li ul li a{
    font-size: 15px;
    text-transform: capitalize;
}
.header .navigation ul li ul li{
    width: 100%;
}
.header .navigation ul li:hover > ul {
    display: initial;
}

#toggle,
.header label{
    display: none;
    cursor: pointer;
}
.menu{
    width: 45px;
    height: 35px;
    color: gray;
}
.menu.active {
    display: block; /* O cualquier estilo que muestre el menú */
}

/* ============================Vista Mobiles================================= */
@media(max-width: 1200px){
    /* ============================Header================================= */
    .header label{
        display: initial;
    }

    .header{
        padding: 0px 10%;
    }
    .header .navigation {
        position: absolute;
        top:100%;
        left: 0;
        right: 0;
        background-color: white;
        display: none;
    }
    .header .navigation ul li{
        width: 100%;
        
    }
    .header .navigation ul li a{
        padding: 8px 30px 8px 10%;
    }
    .header .navigation ul li ul {
        position: relative;
        width: 100%;
        left: 0;
    }
    .header .navigation ul li ul li{
        background-color: whitesmoke;
    }

    #toggle:checked ~ .navigation{
        display: block;
    }

}

/* ============================Banner================================= */
.banner{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner img{
    width: 80%;
    height: auto;
}

.residential{
    border-radius: 10px;
    
}
.residentialImg{
    display: flex;
    justify-content: center;
    align-self: center;
}
.residentialImg img{
    width: 40%;
}
.AIRBNB{
    border-radius: 10px;
}
.acordion{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    margin: 1rem 0rem ;
}

/* ============================Acordion================================= */
.container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    color: black;
    padding-bottom: 1rem;
}

.container h2 {
    text-align: start;
}

.faqs .faq .head {
    display: flex;
    padding: 25px 0px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

h2 {
    font-family: "Fahkwang", sans-serif;
}

.faqs .faq .head svg {
    transition: transform 0.25s ease-in;
}

.faqs .faq .content {
    height: 0px;
    overflow-y: hidden;
    transition: height 0.25s ease-in;
    border-bottom: 1px solid #afafaf;
}
.espacio{
    margin-bottom: 2rem;
}
/* Cuando esta activo */
.faqs .faq.active .head svg {
    transform: rotate(180deg);
}

.img{
    display:flex;
    justify-content: center;
    align-items: center;
}
.img img{
    width: 80%;
    margin: 4rem 0rem 1rem 0rem
}
.airbnb{
    padding-bottom: 4rem !important;
}


/* ================Other================= */

@media only screen and (max-width: 765px) {
    .container {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: start;
        color: black !important;
        padding-bottom: 1rem;
        padding-top: 1rem;
        width: 90%;
    }
    .residentialImg img{
        width: 80%;
    }
    .banner .top{
        margin-top: 5rem;
        width: 100%;
        height: auto;
    }
    .banner .down{
        width: 100%;
        height: auto;
        margin-top: 1rem;
    }
    .principal {
        width: 100%;
        height: 90vh; /* Ajusta la altura de la imagen a un 60% de la altura de la ventana */
        overflow: hidden;
        margin-top: 5rem; /* Oculta el desbordamiento de la imagen */
      }
    
    .principal img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* La imagen se recortará de los lados */
      }

      /* ===========Footer============== */
      footer{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        border-top: 1px solid rgba(134, 134, 134, 0.425)
      }
      .footerWidth{
        width: 100%;
      }
      .footer{
        display: flex;
        justify-content: space-around;
        gap: 4rem;
        align-items: center;
        padding: 2rem;
      }
      .logoFooter img{
        width: 5rem;
      }
      .copyright{
        color: gray;
        font-size: .9rem;
      }
      .redes ul li {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: .5rem;
      }
      .redes ul li a{
        color: rgb(39, 39, 39);
      }

      /* ================Other================= */
    .cardsOther{
        margin-top: 8rem;
    }
    .card{
         display: flex;
         justify-content: center;
         align-items: center;
         flex-direction: column;
         margin: 2rem 0rem;
    }
    .card img{
        width: 90%;
        border-radius: 10px;
    }
    .card img::after{
        content: '';
        width: 100%;
        height: 100%;
        inset: 0;
        position: absolute;
        background: inherit;
        filter: blur(40px)
        saturate(400%);
        z-index: -1;

    }
    .card .texto{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: white;
        padding: 1rem;
        margin-top: -3rem;
        border-radius: 10px;
        width: 70%;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    }
    .card .texto p{
        margin-top: .6rem;
    }

     /* ================Location================= */
    .location{
        margin: 0rem 2rem 2rem 2rem;
    }
    .locationText{
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 1rem;
        border-radius: 10px;
    }
    .locationText h2{
        margin: .6rem 0rem;
    }

    /* ==================== About ==================== */
    .about{
        margin: 5rem 2rem 1rem 2rem;
    }
    .principalAbout {
        width: 100%;
        height: 80vh; /* Ajusta la altura de la imagen a un 60% de la altura de la ventana */
        overflow: hidden;
        margin-top: 0rem; /* Oculta el desbordamiento de la imagen */
      }
    
    .principalAbout img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* La imagen se recortará de los lados */
    }
    .aboutImg{
        mask-image: linear-gradient(
            black 80%, transparent
        );
    }
    /* ================Location================= */
    .contact{
        margin: 2rem 1rem;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 1rem;
        border-radius: 10px;
    }
    .forms form{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin-top: .7rem;
        gap: .8rem;
    }
    .forms form input{
        border: 1px;
        border-bottom: 1px solid black;
    }
    .forms form textarea{
        border: 1px;
        border-bottom: 1px solid black;
    }
    .botonContacto{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .btnContacto{
        background-color: #003DA5;
        padding: .8rem;
        color: white;
        width: 30%;
        border-radius: 10px;
    }
    .btnContacto :hover{
        background-color: red;
    }

}